@media screen and (max-width:375px) {
  .container {
    padding: 0 8%;
  }

  .main {
    .container {
      .logo-score {
        padding: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        .logo {
          img {
            width: 95px;
          }
        }

        .score {
          height: 100%;
          padding: 0.3rem 1.2rem;

          p {
            font-size: 10px;
          }

          h1 {
            font-size: 40px;
          }
        }
      }

      .game {
        background-size: 200px 180px;
        margin-top: 2rem;

        .paperBorder,
        .scissorsBorder {
          top: 0;
        }

        .paperBorder,
        .scissorsBorder,
        .rockBorder {

          .paper,
          .scissors,
          .rock {
            width: 90px;
            height: 90px;
          }
        }

        .paperBorder {
          left: 2%;
          border: 1rem solid $Paper-Gradient-start;
        }

        .scissorsBorder {
          right: 2%;
          border: 1rem solid $Scissors-Gradient-start;
        }

        .rockBorder {
          left: 30%;
          border: 1rem solid $Rock-Gradient-start;
        }
      }
    }

    .picked {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 55%;

      .userChoice,
      .computerChoice {
        display: flex;
        position: relative;
        width: 100%;

        h2 {
          order: 3;
          font-size: 12px;
          margin-bottom: 0rem;
        }

        .pickedShadow {
          order: 1;
          position: absolute;
          margin-top: 2.5rem;
          transform: scale(1.7);
          background-color: $Radial-Gradient-end;
          left: 32%;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        .paperBorder,
        .scissorsBorder,
        .rockBorder {
          order: 2;
          margin-top: 0rem;
          transform: scale(0.8);
        }
      }

      .userChoice {

        .paperBorder,
        .scissorsBorder,
        .rock {
          left: 22%;
        }
      }

      .userChoice.pick {
        left: 0;

        .pickedShadow {
          display: none;
        }
      }

      .computerChoice {
        .paperBorder {
          right: 22%;
        }
      }

      .computerChoice.pick {
        right: 0;

        .pickedShadow {
          display: none;
        }
      }

      .result {
        position: absolute;
        bottom: 25%;
        width: 90%;

        h2 {
          font-size: 40px;
        }

        a {
          display: inline;
          padding: 0.7rem 1.8rem;
          font-size: 15px;
        }
      }
    }

    .rules {
      left: 35%;
      top: 5%;

      p {
        padding: 0.5rem 1.8rem;
      }
    }

    .ham-nav-container {
      background-color: #FFFFFF;

      .logo_close {
        width: 100%;
        justify-content: center;

        p {
          margin-bottom: 4rem;
        }

        img {
          position: absolute;
          bottom: 5%;
        }
      }

      .ham-nav-modalo {
        width: 100%;
      }
    }
  }
}