@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(180deg, #1f3756, #141539);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 25%;
  overflow: hidden;
}

.icon-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main {
  height: 100vh;
}

.main .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container .logo-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #606e85;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.main .container .logo-score .score {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F2F4));
  background: linear-gradient(180deg, #FFFFFF, #F4F2F4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0.7rem 2.7rem;
  border-radius: 8px;
}

.main .container .logo-score .score p {
  color: #2a46c0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.main .container .logo-score .score h1 {
  color: #3b4363;
  font-size: 70px;
  font-weight: 700;
}

.main .container .game {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/assets/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  width: 100%;
  height: 277px;
  position: relative;
  margin-top: 4rem;
}

.main .container .game .paperBorder,
.main .container .game .scissorsBorder {
  position: absolute;
  top: -33%;
  border-radius: 50%;
}

.main .container .game .paperBorder .paper,
.main .container .game .paperBorder .scissors,
.main .container .game .paperBorder .rock,
.main .container .game .scissorsBorder .paper,
.main .container .game .scissorsBorder .scissors,
.main .container .game .scissorsBorder .rock,
.main .container .game .rockBorder .paper,
.main .container .game .rockBorder .scissors,
.main .container .game .rockBorder .rock {
  background-color: #F4F2F4;
  width: 120px;
  height: 120px;
  border-top: 0.5rem solid rgba(96, 110, 133, 0.5);
  border-radius: 50%;
}

.main .container .game .paperBorder {
  left: 18%;
  border: 1.3rem solid #4865f4;
}

.main .container .game .scissorsBorder {
  right: 20%;
  border: 1.3rem solid #ec9e0e;
}

.main .container .game .rockBorder {
  position: absolute;
  bottom: 0;
  left: 36%;
  border: 1.3rem solid #dc2e4e;
  border-radius: 50%;
}

.main .picked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55%;
}

.main .picked .userChoice,
.main .picked .computerChoice {
  position: relative;
  width: 100%;
}

.main .picked .userChoice h2,
.main .picked .computerChoice h2 {
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  margin-bottom: 3rem;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.main .picked .userChoice .pickedShadow,
.main .picked .computerChoice .pickedShadow {
  position: absolute;
  margin-top: 2.5rem;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  background-color: #141539;
  left: 32%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.main .picked .userChoice .paperBorder,
.main .picked .computerChoice .paperBorder {
  position: absolute;
  border-radius: 50%;
  border: 1.3rem solid #4865f4;
  margin-top: 2.5rem;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.main .picked .userChoice .paperBorder .paper,
.main .picked .computerChoice .paperBorder .paper {
  background-color: #F4F2F4;
  width: 120px;
  height: 120px;
  border-top: 0.5rem solid rgba(96, 110, 133, 0.5);
  border-radius: 50%;
}

.main .picked .userChoice .scissorsBorder,
.main .picked .computerChoice .scissorsBorder {
  position: absolute;
  border-radius: 50%;
  border: 1.3rem solid #ec9e0e;
  margin-top: 2.5rem;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.main .picked .userChoice .scissorsBorder .scissors,
.main .picked .computerChoice .scissorsBorder .scissors {
  background-color: #F4F2F4;
  width: 120px;
  height: 120px;
  border-top: 0.5rem solid rgba(96, 110, 133, 0.5);
  border-radius: 50%;
}

.main .picked .userChoice .rockBorder,
.main .picked .computerChoice .rockBorder {
  position: absolute;
  border-radius: 50%;
  border: 1.3rem solid #dc2e4e;
  margin-top: 2.5rem;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.main .picked .userChoice .rockBorder .rock,
.main .picked .computerChoice .rockBorder .rock {
  background-color: #F4F2F4;
  width: 120px;
  height: 120px;
  border-top: 0.5rem solid rgba(96, 110, 133, 0.5);
  border-radius: 50%;
}

.main .picked .userChoice .paperBorder,
.main .picked .userChoice .scissorsBorder,
.main .picked .userChoice .rock {
  left: 22%;
}

.main .picked .userChoice.pick {
  left: -20%;
}

.main .picked .userChoice.pick .pickedShadow {
  display: none;
}

.main .picked .computerChoice .paperBorder {
  right: 22%;
}

.main .picked .computerChoice.pick {
  right: -20%;
}

.main .picked .computerChoice.pick .pickedShadow {
  display: none;
}

.main .picked .result {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 90%;
}

.main .picked .result h2 {
  font-size: 50px;
  color: #F4F2F4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main .picked .result a {
  display: block;
  text-decoration: none;
  background-color: #F4F2F4;
  color: #3b4363;
  padding: 1rem 2.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 8px;
}

.main .rules {
  display: inline;
  position: relative;
  left: 88%;
  cursor: pointer;
}

.main .rules p {
  color: #F4F2F4;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #606e85;
  border-radius: 10px;
  padding: 0.7rem 2.3rem;
  display: inline-block;
}

.main .ham-nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.main .ham-nav-container.show {
  opacity: 1;
  pointer-events: auto;
}

.main .logo_close {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem 0 3rem;
  width: 30%;
  border-radius: 10px 10px 0 0;
}

.main .logo_close p {
  text-transform: uppercase;
  color: #606e85;
  font-size: 26px;
  font-weight: 700;
}

.main .ham-nav-modalo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 30%;
  padding: 2rem 0;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 8%;
  }
  .main .container .logo-score {
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .main .container .logo-score .logo img {
    width: 95px;
  }
  .main .container .logo-score .score {
    height: 100%;
    padding: 0.3rem 1.2rem;
  }
  .main .container .logo-score .score p {
    font-size: 10px;
  }
  .main .container .logo-score .score h1 {
    font-size: 40px;
  }
  .main .container .game {
    background-size: 200px 180px;
    margin-top: 2rem;
  }
  .main .container .game .paperBorder,
  .main .container .game .scissorsBorder {
    top: 0;
  }
  .main .container .game .paperBorder .paper,
  .main .container .game .paperBorder .scissors,
  .main .container .game .paperBorder .rock,
  .main .container .game .scissorsBorder .paper,
  .main .container .game .scissorsBorder .scissors,
  .main .container .game .scissorsBorder .rock,
  .main .container .game .rockBorder .paper,
  .main .container .game .rockBorder .scissors,
  .main .container .game .rockBorder .rock {
    width: 90px;
    height: 90px;
  }
  .main .container .game .paperBorder {
    left: 2%;
    border: 1rem solid #4865f4;
  }
  .main .container .game .scissorsBorder {
    right: 2%;
    border: 1rem solid #ec9e0e;
  }
  .main .container .game .rockBorder {
    left: 30%;
    border: 1rem solid #dc2e4e;
  }
  .main .picked {
    height: 30%;
  }
  .main .picked .userChoice,
  .main .picked .computerChoice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .picked .userChoice h2,
  .main .picked .computerChoice h2 {
    font-size: 12px;
    margin-bottom: 0rem;
    width: 100%;
  }
  .main .picked .userChoice .pickedShadow,
  .main .picked .computerChoice .pickedShadow {
    margin-top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main .picked .userChoice .paperBorder,
  .main .picked .userChoice .scissorsBorder,
  .main .picked .userChoice .rockBorder,
  .main .picked .computerChoice .paperBorder,
  .main .picked .computerChoice .scissorsBorder,
  .main .picked .computerChoice .rockBorder {
    margin-top: 0rem;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main .picked .userChoice.pick {
    left: -3%;
  }
  .main .picked .userChoice.pick .pickedShadow {
    display: none;
  }
  .main .picked .userChoice .paperBorder,
  .main .picked .userChoice .scissorsBorder,
  .main .picked .userChoice .rock {
    left: 0;
  }
  .main .picked .computerChoice.pick {
    right: -3%;
  }
  .main .picked .computerChoice.pick .pickedShadow {
    display: none;
  }
  .main .picked .computerChoice .paperBorder {
    right: 0;
  }
  .main .picked .result {
    position: absolute;
    bottom: 25%;
    width: 80%;
  }
  .main .picked .result h2 {
    font-size: 40px;
  }
  .main .picked .result a {
    display: inline;
    padding: 0.7rem 1.8rem;
    font-size: 15px;
  }
  .main .rules {
    left: 35%;
    top: 30%;
  }
  .main .rules p {
    padding: 0.5rem 1.8rem;
  }
  .main .ham-nav-container {
    background-color: #FFFFFF;
  }
  .main .ham-nav-container .logo_close {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .ham-nav-container .logo_close p {
    margin-bottom: 4rem;
  }
  .main .ham-nav-container .logo_close img {
    position: absolute;
    bottom: 5%;
  }
  .main .ham-nav-container .ham-nav-modalo {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */